In [51]:
import numpy as np
import pandas as pd

Data Analysis with Pandas

Oct 25th 2021

Faisal Kushha

Data from https://www.kaggle.com/pronto/cycle-share-dataset

In [52]:
df_trip = pd.read_csv('./trip.csv', error_bad_lines=False)
df_station = pd.read_csv('./station.csv')
df_weather = pd.read_csv('./weather.csv')
print(df_trip)
print(df_station)
print(df_weather)
df_trip.info()
df_station.info()
df_weather.info()

/home/faisal/401d06/vg-stats/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

        trip_id         starttime          stoptime    bikeid  tripduration  \
0           431  10/13/2014 10:31  10/13/2014 10:48  SEA00298       985.935
1           432  10/13/2014 10:32  10/13/2014 10:48  SEA00195       926.375
2           433  10/13/2014 10:33  10/13/2014 10:48  SEA00486       883.831
3           434  10/13/2014 10:34  10/13/2014 10:48  SEA00333       865.937
4           435  10/13/2014 10:34  10/13/2014 10:49  SEA00202       923.923
...         ...               ...               ...       ...           ...
286852   255241   8/31/2016 23:34   8/31/2016 23:45  SEA00201       679.532
286853   255242   8/31/2016 23:48     9/1/2016 0:20  SEA00247      1965.418
286854   255243   8/31/2016 23:47     9/1/2016 0:20  SEA00300      1951.173
286855   255244   8/31/2016 23:49     9/1/2016 0:20  SEA00047      1883.299
286856   255245   8/31/2016 23:49     9/1/2016 0:20  SEA00442      1896.031

                             from_station_name  \
0                          2nd Ave & Spring St
1                          2nd Ave & Spring St
2                          2nd Ave & Spring St
3                          2nd Ave & Spring St
4                          2nd Ave & Spring St
...                                        ...
286852                 Harvard Ave & E Pine St
286853  Cal Anderson Park / 11th Ave & Pine St
286854  Cal Anderson Park / 11th Ave & Pine St
286855  Cal Anderson Park / 11th Ave & Pine St
286856  Cal Anderson Park / 11th Ave & Pine St

                                          to_station_name from_station_id  \
0       Occidental Park / Occidental Ave S & S Washing...          CBD-06
1       Occidental Park / Occidental Ave S & S Washing...          CBD-06
2       Occidental Park / Occidental Ave S & S Washing...          CBD-06
3       Occidental Park / Occidental Ave S & S Washing...          CBD-06
4       Occidental Park / Occidental Ave S & S Washing...          CBD-06
...                                                   ...             ...
286852                                2nd Ave & Spring St           CH-09
286853                              6th Ave S & S King St           CH-08
286854                              6th Ave S & S King St           CH-08
286855                              6th Ave S & S King St           CH-08
286856                              6th Ave S & S King St           CH-08

       to_station_id                usertype  gender  birthyear
0              PS-04                  Member    Male     1960.0
1              PS-04                  Member    Male     1970.0
2              PS-04                  Member  Female     1988.0
3              PS-04                  Member  Female     1977.0
4              PS-04                  Member    Male     1971.0
...              ...                     ...     ...        ...
286852        CBD-06  Short-Term Pass Holder     NaN        NaN
286853         ID-04  Short-Term Pass Holder     NaN        NaN
286854         ID-04  Short-Term Pass Holder     NaN        NaN
286855         ID-04  Short-Term Pass Holder     NaN        NaN
286856         ID-04  Short-Term Pass Holder     NaN        NaN

[286857 rows x 12 columns]
   station_id                                               name        lat  \
0       BT-01                                 3rd Ave & Broad St  47.618418
1       BT-03                                  2nd Ave & Vine St  47.615829
2       BT-04                             6th Ave & Blanchard St  47.616094
3       BT-05                             2nd Ave & Blanchard St  47.613110
4      CBD-03                                 7th Ave & Union St  47.610731
5      CBD-04                                 Union St & 4th Ave  47.609221
6      CBD-05                                1st Ave & Marion St  47.604058
7      CBD-06                                2nd Ave & Spring St  47.605950
8      CBD-07                     City Hall / 4th Ave & James St  47.603509
9      CBD-13                                  2nd Ave & Pine St  47.610185
10      CD-01                            12th Ave & E Yesler Way  47.602103
11      CH-01                           Summit Ave & E Denny Way  47.618633
12      CH-02                     E Harrison St & Broadway Ave E  47.622063
13      CH-03                     Summit Ave E & E Republican St  47.623367
14      CH-05                           15th Ave E & E Thomas St  47.620712
15      CH-06                             12th Ave & E Denny Way  47.618549
16      CH-07                               E Pine St & 16th Ave  47.615330
17      CH-08             Cal Anderson Park / 11th Ave & Pine St  47.615486
18      CH-09                            Harvard Ave & E Pine St  47.615517
19      CH-12                           Bellevue Ave & E Pine St  47.615456
20      CH-15                             12th Ave & E Mercer St  47.624142
21     DPD-01                              9th Ave N & Mercer St  47.624298
22     DPD-03  Children's Hospital / Sandpoint Way NE & 40th ...  47.663509
23      EL-01  Fred Hutchinson Cancer Research Center / Fairv...  47.627643
24      EL-03                       E Blaine St & Fairview Ave E  47.634831
25      EL-05                      Eastlake Ave E & E Allison St  47.649090
26      FH-01          Frye Art Museum / Terry Ave & Columbia St  47.607281
27      FH-04      Seattle University / E Columbia St & 12th Ave  47.609239
28      ID-04                              6th Ave S & S King St  47.598488
29      PS-04  Occidental Park / Occidental Ave S & S Washing...  47.600757
30      PS-05  King Street Station Plaza / 2nd Ave Extension ...  47.598994
31     SLU-01                         REI / Yale Ave N & John St  47.619859
32     SLU-02                            Dexter Ave N & Aloha St  47.627735
33     SLU-04                     Republican St & Westlake Ave N  47.623165
34     SLU-07                      PATH / 9th Ave & Westlake Ave  47.618320
35     SLU-15                             Westlake Ave & 6th Ave  47.613628
36     SLU-16                                  Pine St & 9th Ave  47.613715
37     SLU-17          Lake Union Park / Valley St & Boren Ave N  47.626041
38     SLU-18                             Dexter Ave & Denny Way  47.618285
39     SLU-19                Key Arena / 1st Ave N & Harrison St  47.622277
40     SLU-20                             Terry Ave & Stewart St  47.616260
41     SLU-21                              Mercer St & 9th Ave N  47.624769
42      UD-01  Burke-Gilman Trail / NE Blakeley St & 24th Ave NE  47.666145
43      UD-02                     NE 42nd St & University Way NE  47.658288
44      UD-04                          12th Ave & NE Campus Pkwy  47.656395
45      UD-07                           NE 47th St & 12th Ave NE  47.663143
46      UW-01                       UW McCarty Hall / Whitman Ct  47.660268
47      UW-02  Burke Museum / E Stevens Way NE & Memorial Way NE  47.659756
48      UW-04                           15th Ave NE & NE 40th St  47.655590
49      UW-06  UW Engineering Library / E Stevens Way NE & Je...  47.654613
50      UW-07                  UW Intramural Activities Building  47.653713
51      UW-10  UW Magnuson Health Sciences Center Rotunda / C...  47.650725
52      WF-01                    Pier 69 / Alaskan Way & Clay St  47.614315
53      WF-04  Seattle Aquarium / Alaskan Way S & Elliott Bay...  47.607702
54      CH-16                           Broadway and E Denny Way  47.618640
55     SLU-22                              Thomas St & 5th Ave N  47.620879
56      UW-11                    NE Pacific St/UW Medical Center  47.649952
57      WF-03                    Pier 66 / Alaskan Way & Bell St  47.611370

          long install_date  install_dockcount modification_date  \
0  -122.350964   10/13/2014                 18               NaN
1  -122.348564   10/13/2014                 16               NaN
2  -122.341102   10/13/2014                 16               NaN
3  -122.344208   10/13/2014                 14               NaN
4  -122.332447   10/13/2014                 20               NaN
5  -122.335596    7/27/2015                 18               NaN
6  -122.335800   10/13/2014                 20               NaN
7  -122.335768   10/13/2014                 20         11/9/2015
8  -122.330409   10/13/2014                 20               NaN
9  -122.339641   10/13/2014                 18               NaN
10 -122.316923    5/22/2015                 16          8/9/2016
11 -122.325249   10/13/2014                 16               NaN
12 -122.321251   10/13/2014                 18         2/24/2015
13 -122.325279   10/13/2014                 16               NaN
14 -122.312805   10/13/2014                 16               NaN
15 -122.317017   10/13/2014                 16               NaN
16 -122.311752   10/13/2014                 18               NaN
17 -122.318245   10/13/2014                 28         2/24/2015
18 -122.322083   10/13/2014                 16               NaN
19 -122.326729   10/13/2014                 18               NaN
20 -122.316811   10/13/2014                 16               NaN
21 -122.339617   10/13/2014                 18               NaN
22 -122.284119   10/13/2014                 30         3/24/2015
23 -122.332576   10/13/2014                 12         3/27/2015
24 -122.326634   10/13/2014                 18               NaN
25 -122.322983   10/13/2014                 18               NaN
26 -122.324783   10/13/2014                 16         3/18/2016
27 -122.316651   10/13/2014                 20               NaN
28 -122.326412   10/13/2014                 16               NaN
29 -122.332946   10/13/2014                 18               NaN
30 -122.329684   10/13/2014                 18               NaN
31 -122.330304   10/13/2014                 18         2/24/2015
32 -122.342232   10/13/2014                 18               NaN
33 -122.338203   10/13/2014                 18               NaN
34 -122.338913   10/13/2014                 18               NaN
35 -122.337341   10/13/2014                 12         3/13/2015
36 -122.331777   10/13/2014                 20               NaN
37 -122.335831   10/13/2014                 18         2/23/2015
38 -122.342205   10/13/2014                 20         11/2/2015
39 -122.355230   10/13/2014                 12          3/4/2015
40 -122.333815    6/12/2015                 20               NaN
41 -122.339408    9/15/2015                 20               NaN
42 -122.301491   10/13/2014                 18               NaN
43 -122.313334   10/13/2014                 18               NaN
44 -122.315620   10/13/2014                 16               NaN
45 -122.315086   10/13/2014                 16               NaN
46 -122.304826   10/13/2014                 16        10/29/2015
47 -122.310402   10/13/2014                 12         2/20/2015
48 -122.311890   10/13/2014                 18         2/20/2015
49 -122.304863   10/13/2014                 12         2/20/2015
50 -122.302162   10/13/2014                 20         2/20/2015
51 -122.311188   10/13/2014                 16               NaN
52 -122.354093   10/13/2014                 18               NaN
53 -122.341650   10/13/2014                 18               NaN
54 -122.320777    3/18/2016                 18               NaN
55 -122.347377     7/3/2016                 18               NaN
56 -122.306263   10/29/2015                 16               NaN
57 -122.348702     8/9/2016                 18               NaN

    current_dockcount decommission_date
0                  18               NaN
1                  16               NaN
2                  16               NaN
3                  14               NaN
4                  20               NaN
5                  18               NaN
6                  20               NaN
7                  18               NaN
8                  20               NaN
9                  18               NaN
10                  0          8/9/2016
11                 16               NaN
12                 20               NaN
13                 16               NaN
14                 16               NaN
15                 16               NaN
16                 18               NaN
17                 26               NaN
18                 16               NaN
19                 14               NaN
20                 16               NaN
21                 18               NaN
22                 24               NaN
23                 16               NaN
24                 18               NaN
25                 18               NaN
26                  0         3/18/2016
27                 20               NaN
28                 16               NaN
29                 18               NaN
30                 18               NaN
31                 20               NaN
32                 18               NaN
33                 18               NaN
34                 18               NaN
35                 20               NaN
36                 20               NaN
37                 16               NaN
38                  0          7/2/2016
39                 16               NaN
40                 20               NaN
41                 20               NaN
42                 18               NaN
43                 18               NaN
44                 16               NaN
45                 16               NaN
46                  0        10/29/2015
47                 14               NaN
48                 16               NaN
49                 14               NaN
50                 14               NaN
51                 16               NaN
52                 24               NaN
53                 18               NaN
54                 18               NaN
55                 18               NaN
56                 16               NaN
57                 18               NaN
           Date  Max_Temperature_F  Mean_Temperature_F  Min_TemperatureF  \
0    10/13/2014                 71                62.0                54
1    10/14/2014                 63                59.0                55
2    10/15/2014                 62                58.0                54
3    10/16/2014                 71                61.0                52
4    10/17/2014                 64                60.0                57
..          ...                ...                 ...               ...
684   8/27/2016                 72                66.0                61
685   8/28/2016                 75                68.0                59
686   8/29/2016                 81                68.0                55
687   8/30/2016                 70                64.0                57
688   8/31/2016                 71                65.0                59

     Max_Dew_Point_F  MeanDew_Point_F  Min_Dewpoint_F  Max_Humidity  \
0                 55               51              46            87
1                 52               51              50            88
2                 53               50              46            87
3                 49               46              42            83
4                 55               51              41            87
..               ...              ...             ...           ...
684               57               54              50            81
685               54               52              50            80
686               55               53              50            89
687               55               53              52            83
688               61               56              52            90

     Mean_Humidity  Min_Humidity  ...  Mean_Sea_Level_Pressure_In  \
0               68            46  ...                       29.79
1               78            63  ...                       29.75
2               77            67  ...                       29.71
3               61            36  ...                       29.95
4               72            46  ...                       29.78
..             ...           ...  ...                         ...
684             65            46  ...                       29.88
685             65            44  ...                       30.06
686             65            39  ...                       30.02
687             69            53  ...                       30.01
688             77            63  ...                       29.97

     Min_Sea_Level_Pressure_In  Max_Visibility_Miles  Mean_Visibility_Miles  \
0                        29.65                    10                     10
1                        29.54                    10                      9
2                        29.51                    10                      9
3                        29.81                    10                     10
4                        29.73                    10                     10
..                         ...                   ...                    ...
684                      29.77                    10                     10
685                      30.01                    10                     10
686                      29.95                    10                     10
687                      29.97                    10                     10
688                      29.96                    10                     10

     Min_Visibility_Miles  Max_Wind_Speed_MPH  Mean_Wind_Speed_MPH  \
0                       4                  13                    4
1                       3                  10                    5
2                       3                  18                    7
3                      10                   9                    4
4                       6                   8                    3
..                    ...                 ...                  ...
684                    10                  16                    9
685                    10                  12                    9
686                     6                   9                    4
687                    10                  14                    9
688                     8                  14                    8

     Max_Gust_Speed_MPH Precipitation_In  Events
0                    21             0.00    Rain
1                    17             0.11    Rain
2                    25             0.45    Rain
3                     -             0.00    Rain
4                     -             0.14    Rain
..                  ...              ...     ...
684                 NaN             0.00     NaN
685                 NaN             0.00     NaN
686                 NaN             0.00     NaN
687                  18             0.00     NaN
688                 NaN             0.00    Rain

[689 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286857 entries, 0 to 286856
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            286857 non-null  int64
 1   starttime          286857 non-null  object
 2   stoptime           286857 non-null  object
 3   bikeid             286857 non-null  object
 4   tripduration       286857 non-null  float64
 5   from_station_name  286857 non-null  object
 6   to_station_name    286857 non-null  object
 7   from_station_id    286857 non-null  object
 8   to_station_id      286857 non-null  object
 9   usertype           286857 non-null  object
 10  gender             181557 non-null  object
 11  birthyear          181553 non-null  float64
dtypes: float64(2), int64(1), object(9)
memory usage: 26.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   station_id         58 non-null     object
 1   name               58 non-null     object
 2   lat                58 non-null     float64
 3   long               58 non-null     float64
 4   install_date       58 non-null     object

What is the average trip duration for a borrowed bicycle?

In [53]:
trip_average = df_trip['tripduration'].mean()
trip_average

1178.2956753399776

What’s the most common age of a bicycle-sharer?

In [54]:
most_common_age = 2021 - df_trip['birthyear'].mode()[0]
most_common_age

34.0

Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [55]:

monthly_precipitation = df_weather['Precipitation_In'].mean()*30
median_precipitation = df_weather['Precipitation_In'].median()
precipitation = (monthly_precipitation, median_precipitation)
precipitation

(3.1519593613933234, 0.0)

What’s the average number of bikes at a given bike station?

In [56]:
bikes_average_number = df_station['install_dockcount'].mean()
bikes_average_number

17.586206896551722

When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [57]:
remove_null_value = df_station.dropna()
modified_station = remove_null_value['current_dockcount'].sum() - remove_null_value['install_dockcount'].sum()

if modified_station > 0:
    print('Gain')
else:
    print('Lose')
modified_station

Lose

-68

What is the average Max Wind Speed MPH?

In [58]:
wind_speed = df_weather['Max_Wind_Speed_MPH'].mean()
wind_speed

11.085631349782293

What is the Max Tempreture?

In [59]:
max_tempreture = df_weather['Max_Temperature_F'].max()
max_tempreture

98

What is the Min Tempreture?

In [60]:
min_tempreture = df_weather['Min_TemperatureF'].min()
min_tempreture

23

Tests

In [61]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(trip_average, 1178.2956753399776)
    assert_equal(most_common_age, 34.0)
    assert_equal(precipitation, (3.1519593613933234, 0.0))
    assert_equal(bikes_average_number, 17.586206896551722)
    assert_equal(modified_station, -68)
    assert_equal(wind_speed, 11.085631349782293)
    assert_equal(max_tempreture, 98)
    assert_equal(min_tempreture, 23)

    print("Success!!!")

test()

Success!!!